h1 {
    color: yellow;
}
.title {
    color: aqua;
    font-size: 50px;
}
.text {
    background-color: gold;
}
.icon {
    width: 50;
    height: 60px;
}
.hinkali p {
    color: brown;
}
.bread p {
    color: chocolate;
}
.bread p {
    p {
        color: chartreuse;
    }
}